* {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 14px;
}
.pendiente {
    color: blue;
}
.haciendo {
    color: orange;
}
.hecha {
    color: green;
}
.cancelada {
    color: red;
}