.manzana {
    color: red;
}
.banana {
    color: yellow;
}
.naranja {
    color: orange;
}
.sandia {
    color: #ed2029;
}
.melon {
    color: #a3c165;
}
.kiwi{
    color: green;
}
.ciruela {
    color: rgb(37,19,41);
}
.cereza {
    color: rgb(96,3,3);
}
.frutilla {
    color: red;
}
.uva {
    color: rgb(146,9,41);
}