.negrita {
    font-weight: 800;
}
.azul-intenso {
    background-color: blue;
}
.rojo {
    background-color: red;
}
.azul {
    background-color: #3968F7;
}
.aqua {
    background-color: #31cdcb;
}
.verdoso {
    background-color: #9CFF8B;
}
.blanco {
    background-color: white;
}
.marfil {
    background-color: #feff99;
}
.amarillo-claro {
    background-color: #F2FE5F;
}
.amarillo {
    background-color: yellow;
}
.naranjado {
    background-color: #F6B35A;
}
.naranja {
    background-color: orange;
}