.puente{
    font-size: 40px;
}
.atardecer {
    font-size: 60px;
}
.torre {
    font-size: 80px;
}
.ciudad {
    font-size: 100px;
}
.estatua {
    font-size: 120px;
}
.playa {
    font-size: 140px;
}
.montania{
    font-size: 160px;
}
.luna {
    font-size: 180px;
}
.desierto {
    font-size: 200px;
}
.cielo {
    font-size: 220px;
}