* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 15px;
}
a {
    text-decoration: none;
    color: blue;
}
.fecha {
    font-size: 15px;
    color: rgb(162, 162, 162);
}
span {
    background-color: rgb(228, 223, 223);
}